*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}
.top-section{
    min-height:120vh;
    width:100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("file:///C:/Users/pc/Pictures/IMG-20221113-WA0004.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
} 
nav {
    display: flex;
    padding-top: 2%;
    align-items: center;
}
.nav-link a {
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
} 
.nav-link ul li {
    list-style:none;
    display:inline-block;
    margin-left: 15vh;
    position:relative;
}
.nav-link img {
    width: 3vh;
}
.nav-link ul li i {
    color: #ffff;
    font-size: 18px;
}
.top-section h1 {
    font-size: 85px;
    margin-top: 110px;
    color: #ffff;
    max-width: 80vh;
    margin-left: 17vh;
}
.explore {
    border: 1px solid blue;
    background-color: blue;
    padding: 10px 17px 10px 20px;
    margin-left: 50vh;
}
.explore button {
    padding: 5px 5px 5px 8px;
    margin-left: 3vh;
    background-color: rgba(90, 90, 156, 0.6);
    color: #ffff;
    border: 1px solid rgb(136, 136, 185);
    border-radius: 2px;
}
.row-sum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20vh;
  
}
.row-sum h3, p {
    color:#ffff;
    margin-top: 20px ;
    margin-left: 10vh;
    margin-right: 10vh;
    max-width: 30vh;
    line-height: 30px;
}
.row-sum p {
    line-height: 25px;
    color: rgba(255, 255, 255, 0.644);
}
hr {
    max-width: 30vh;
    margin-left: 10vh;
}
video {
    height: 60vh;
    width: 100vh;
    position: absolute;
    top: 22vh;
    left: 100vh;      
}
video::-webkit-media-controls {
    display:none !important ;
}
.webname {
    color: brown;
}